@import-normalize; /* bring in normalize.css styles */

:root {
  --main-bg-color: #4B7D76;
  --main-color: #40646E;
  --hover-color: #FF8049;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  color: currentColor;
    text-decoration: none;
}